@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {
    /* Esconde el scrollbar en Chrome, Safari y Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Esconde el scrollbar para IE, Edge y Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
